name: GitHub Actions Demo

run-name: ${{ github.actor }} is testing OIDC Auth in AWS

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  test-aws:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::639775301592:oidc-provider/token.actions.githubusercontent.com
          role-session-name: mathew
          aws-region: us-east-1
      - name: whoami
        run: aws sts get-caller-identity


